#content
  h1 jQuery Animate Image Filling
  .person
    .container
      .frame
        img src="http://i50.tinypic.com/dd0u3s.png"/
      #boy
        .block
      img src="http://i50.tinypic.com/25fh7gi.png"/
  .person
    .container
      .frame
        img src="http://i47.tinypic.com/30kdg86.png"/
      #girl
        .block
      img src="http://i50.tinypic.com/2iuqi4k.png"/